name: Binary Cache

on: [push, pull_request, workflow_dispatch]
jobs:
  nix:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: cachix/install-nix-action@v30
    - uses: DeterminateSystems/flakehub-cache-action@main
    - uses: cachix/cachix-action@v15
      with:
        name: pcsd
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - name: Build package
      run: |
        nix build .#ocf-resource-agents --print-build-logs --accept-flake-config
        nix build .#pacemaker --print-build-logs --accept-flake-config
        nix build .#pcs-web-ui --print-build-logs --accept-flake-config
        nix build .#pcs --print-build-logs --accept-flake-config
